
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: #fff;
}

body {
  background: url(/img/logo3.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.portada1 {
  background: url(/img/fondop.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.portada2 {
  background: url(/img/jl2portada.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.portada3 {
  background: url(/img/sq2.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.portada4 {
  background: url(/img/flashp.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.portada5 {
  background: url(/img/bap.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.portada6 {
  background: url(/img/jportada.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.portada7 {
  background: url(/img/jldwp.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.portada9 {
  background: url(/img/harleyf.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.portada10 {
  background: url(/img/joker.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

header {
  width: 90%;
  max-width: 1200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #500b0b;
  padding: 0 16px;
  border-radius: 6px;
  background-image: url(/img/footer.jpg);
}

header nav {
  width: 90%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer {
  width: 90%;
  max-width: 1200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #690303;
  padding: 25px;
  color: #fff;
  border-radius: 6px;
  background-color: #303030;
  background-image: url(/img/footer.jpg);
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

#pagina {
  width: 90%;
  max-width: 1200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
}

ul {
  list-style: none;
}

.logo {
  width: 50px;
}

.navLink a {
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main {
  padding: 10px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.main h1 {
  background-color: #52160e;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  color: #FFFFFF;
  border-radius: 6px;
  text-align: center;
  background-image: url(/img/footer.jpg);
}

.main .articlesContainer {
  width: 100%;
  padding: 20px 0;
  margin-right: 1.5%;
}

.articlesContainer article {
  width: 100%;
  background-color: white;
  margin-bottom: 1.5%;
  padding: 15px;
  border-radius: 6px;
  background-image: url(/img/footer.jpg);
  color: white;
}

.articlesContainer h3 {
  color: white;
}

.sidebar {
  padding: 5px;
  background-color: #5a0e0e;
  color: #FFFFFF;
  border-radius: 6px;
  height: 50%;
  margin-bottom: 1.5%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  color: #fff;
  border-radius: 6px;
  background-image: url(/img/footer.jpg);
}

.sidebar h3 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  padding: 5px;
  background-color: #1a0907;
  color: #FFFFFF;
  border-radius: 6px;
  text-align: center;
}

.color1 li {
  color: white;
}

h2 {
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
  color: #fff;
}

.galeria {
  border-radius: 6px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  padding: 40px 0;
}

.info div {
  color: #fff;
  padding: 10px;
}

.info div span {
  font-weight: 600;
}

.info div img {
  width: 250px;
  height: 300px;
}

.texto {
  color: white;
}

.video {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
}

.video iframe {
  width: 100%;
  vertical-align: top;
  height: 315px;
  min-width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.linea {
  background: #72050a;
  height: 5px;
  width: 100%;
  display: block;
}

.portadami {
  color: white;
  background: url(/img/logo3.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=styles.css.map */
